@import "bourbon/bourbon";
@import "neat/neat";

body {
  background-image: url("../assets/skyline-original.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
}

div#app {
  @include outer-container;
  position: relative;
  height: auto !important;
  min-height: 100%;
  width: 95%;
  max-width: 1200px;
  margin: 2em auto;  
  /*background-color: grey;*/
  border-radius: 5px;
  /*opacity: .90;*/
}

a h1 {
  color: white;
}

a:hover {
  color: black;
}

a {
  text-decoration: none;
  color: dimgrey;
}

input[type=button] {
  color: white;
  padding:0.5em 1em;
  font-size: 1em;
  background-color: rgba(105, 148, 169, 0.95);
  border: none;
  border-radius: 5px;
  &.delete-poi:hover {
    background-color: rgba(225, 102, 102, 0.95);
  }
  &.save-load:hover, &.start-trip:hover, &.add-poi:hover {
    background-color: rgba(102, 255, 102, 0.95);
  }
  &.login:hover {
    background-color: rgba(220, 220, 220, 0.95);
  }
  &:hover {
    cursor: pointer;
    color: #242424;
  }
}

input[type=button]:focus, input[type=text]:focus {
  outline: none;
}

.container {
  min-height: 500px;
}

#landing {
  text-align:center;
  margin-top:15%;
  color: white;
  h1 {
    font-size: 6em;
    margin-bottom:0px;
    letter-spacing: 2px;
  }
  p {
    font-weight: 800;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 3em;
    text-shadow: 2px 2px black;
  }
  a {
    font-size: 1.5em;
  }
}

.search-button {
  cursor: pointer;
  font-size: 1em;
  border: none;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
}

.search-button:hover {
  color: black;
  background-color: rgba(105, 148, 169, 0.95);
}

.input-text {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  padding: 4px;
  margin: 2px;
}

.header {
  text-align: center;
  h1 {
    display:block;
    margin-top:0.25em;
    font-size: 4em;
  }
}

.single-nav, .double-nav {
  @include span-columns(12);
  @include shift(4);
  @include clearfix;
  text-align: center;
  display:inline-block;
  margin-bottom: 1em;
  a {
    @include span-columns(4);
  }
  div {
    background-color: rgba(105, 148, 169, 0.95);
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    padding:1em;
    border-radius: 5px;
  }
  a {
    color:white;
  }
  div:hover {
    background-color: rgba(220, 220, 220, 0.95);
    color: #242424;
  }
}

.double-nav {
  @include shift(2);
}

#planner-landing-container {
  text-align: center;
}

#planner-landing-main {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  padding: 1em 0;
  min-height: 20em;
}

#planner-landing-text {
  margin-top: 5%;
  font-size: 1em;
  font-weight: 800;
}

#planner-landing-links {
  margin-top: 2em;
}

#powered-by {
  font-size: .75em;
}

.yelp-credit {
  margin-bottom: 0.75em;
  img {
    height:2em;
    vertical-align:middle;
  }
  p {
    margin:0px;
    font-size: .75em;
    color: white;
  }
}


#logout {
  @include clearfix;
  display:block;
  input[type=button] {
  font-size:.75em;
  color: #242424;
  float: right;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
    &:hover {
      background-color: rgba(255, 102, 102, 0.95);
    }
  }
}

.add-to-trip:hover {
  background-color: rgba(102, 255, 102, 0.95);
}

.delete-trip:hover {
  background-color: rgba(255, 102, 102, 0.95);
}

.search-module, .trip-module, .saved-display, .trip-display {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
}

.search-module h1, .trip-module h1, .saved-display h1, .header h1 {
  color: white;
  letter-spacing: 2px;
}

.trip-display-header, .saved-trips-button {
  text-align: center;
}

.trip-display-header {
  h1 {
    color: white;
    letter-spacing: 2px;
  }
  input {
    margin: 0.5em 1em;
  }
}

.search-poi, .trip-poi, .poi-entry {
  margin-top: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, .95);
  border-radius: 5px;
}

.poi-img {
	display: block;
  float: middle;
  margin: auto;
  width: 75px;
  height: 75px;
  background-color: lightgray;
  border-radius: 5px;
  img {
  	width: 75px;
    border-radius: 5px;
  }
}

.poi-entry {
  @include clearfix;
  /*margin-bottom: 1em;*/
  /*&:last-child {
    margin-bottom:0em;
  }*/
}

.saved-trip {
  @include clearfix;
  vertical-align:center;
  margin-top:1em;
  padding: .25em;
  border-radius: 5px;
  input[type=button] {
    min-width: 10em;
    float: middle;
  }
}

.trip-name {
  @extend .poi-name;
}

.poi-name {
	font-size:1.25em;
	font-weight:bold;
  vertical-align:middle;
  display:inline-block;
  img {
    vertical-align:middle;
  }
}

.poi-name a {
	color: #242424;
}

.poi-remove, .add-poi {
  margin: 1em 0;
}

.footer {
  @include span-columns(12);
  text-align:center;
  margin-top:5em;
}

@media screen and (max-width: 400px) {
  #landing {
    h1 {
      font-size: 4em;
      margin-bottom:0px;
      letter-spacing: 2px;
    }
    p {
      font-weight: 800;
      text-transform: capitalize;
      font-variant: small-caps;
      font-size: 2em;
      text-shadow: 2px 2px black;
    }
  }
}
